@model LiberLend.Models.MembershipModels.MembershipDetails

@{
    ViewBag.Title = "Delete";
}

<h2 class="liberlend-text">Cancel Membership</h2>

<h3>Are you sure you want to cancel this membership?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LibraryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibraryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel Membership" class="btn btn-default" /> |
            @Html.ActionLink("Back to Libraries", "../Library/Index")
        </div>
    }
</div>
