@{
    ViewBag.Title = "About LiberLend";
}
<h2 class="liberlend-text">@ViewBag.Title</h2>

<div style="max-width:60%;">
    <p>LiberLend is a project built by Aaron Krumsieg and serves as his capstone project for Eleven Fifty Academy's software development course. It utilizes a C# ASP.NET MVC framework with N-tier architecture and deployment via Azure.</p>
    <p>Illustrations are courtesy of <a href="https://undraw.co" target="_blank">unDraw</a>.</p>
    <p>Aaron would love to connect with you on <a href="https://www.linkedin.com/in/akrumsieg/" target="_blank">LinkedIn!</a></p>
</div>
