@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="liberlend-text">LiberLend</h1>
    <p class="lead">LiberLend is a free web application allowing communities of people to share their books.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="liberlend-text">My Bookshelf</h2>
        <p>
            Add books to your bookshelf so that other members of your communities can browse and borrow!
        </p>
        <p><a class="btn btn-default" href="../Book">My Bookshelf &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="liberlend-text">Community Libraries</h2>
        <p>Join or create community libraries so your friends, family, and neighbors can enjoy a huge collection of books!</p>
        <p><a class="btn btn-default" href="../Library/Index">Community Libraries &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="liberlend-text">Reservations</h2>
        <p>View your reservation, and see what others want to borrow from you! </p>
        <p>
            <a class="btn btn-default" href="../Reservation/IndexAsBorrower">Outgoing &raquo;</a>
            <a class="btn btn-default" href="../Reservation/IndexAsOwner">Incoming &raquo;</a>
        </p>
    </div>
</div>