@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="liberlend-text">LiberLend</h1>
    <p class="lead">LiberLend is a free web application allowing communities of people to share their books.</p>
    @if (!User.Identity.IsAuthenticated)
    {
<hr />
        <p>Get started by registering! <span style="font-size: small">(*psst!* You can register with a fake email & password)</span>  <a class="btn btn-success" href="../Account/Register">Register</a></p>
    }
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row text-center">
    <div class="col-md-4">
        <h2 class="liberlend-text">My Bookshelf</h2>
        <p>
            Add books to your bookshelf so that other members of your communities can browse and borrow.
        </p>
        <img src="../../Media/undraw_Bookshelves_re_lxoy.svg" alt="Woman at a bookshelf" style="height: 100px; margin-top: 15px;"/>
        <p><a class="btn btn-default" href="../Book">My Bookshelf</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="liberlend-text">Community Libraries</h2>
        <p>Join or create community libraries so your friends, family, and neighbors can enjoy a huge collection of books.</p>
        <img src="../../Media/undraw_neighbors_ciwb.svg" alt="Woman at a bookshelf" style="height: 100px; margin-top: 15px;" />
        <p><a class="btn btn-default" href="../Library/Index">Community Libraries</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="liberlend-text">Reservations</h2>
        <p>View your reservation, and see what others want to borrow from you. </p>
        <img src="../../Media/undraw_Online_calendar_re_wk3t.svg" alt="Woman at a bookshelf" style="height: 100px; margin-top: 15px;" />
        <p>
            <a class="btn btn-default" href="../Reservation/IndexAsBorrower">Outgoing</a>
            <a class="btn btn-default" href="../Reservation/IndexAsOwner">Incoming</a>
        </p>
    </div>
</div>